{% block dfhf %}
            <div class="dfhf-component">
                 <img
                        :src="'dfgdffg/static/img/cms/component_cms_element.jpg' | asset"
                        alt="dfgdffg"
                >
            </div>
{% endblock %}