{% block mki_muhammad_kassem_ismail %}
            <div class="mki-muhammad-kassem-ismail-preview">
                 <img
                        :src="'mkimuhammadkassemismail/static/img/cms/component_cms_element.jpg' | asset"
                        alt="mkimuhammadkassemismail"
                >
            </div>
{% endblock %}