{% extends 'base.html.twig' %}

{% block title %}Hello FormCreateCmsElementController!{% endblock %}

{% block body %}

	<div class="container">
		<div class="form-wrapper m-5 py-5">
			<form action="{{ path('form_create_cms_element') }}" method="POST"
					class="form d-flex justify-content-center align-items-center flex-column">
				<div class="navigation d-flex align-items-center" id="nav-tab" role="tablist">
					<div class="nav-point active-nav-point bg-info">1</div>
					<div class="nav-point">2</div>
					<div class="nav-point">3</div>
					<div class="nav-point">4</div>
				</div>

				<div class="tabs-container">

					{# Plugin Details #}
					<div class="tabs show-tab">
						<h2 class="headline-line mb-5">Plugin Details</h2>


						<div class="mb-3 row">
							<div class="col-8">
								<label class="form-label" for="pluginTechnicalName">Plugin Technical Name</label>
								<input type="text" name="pluginTechnicalName" id="pluginTechnicalName"
										 class="form-control">
							</div>

							<div class="col-4">
								<label class="form-label" for="version">Version</label>
								<input type="text" name="version" id="version"
										 class="form-control">
							</div>
						</div>


						<div class="mb-3">
							<label class="form-label" for="pluginDescription">Plugin Description</label>
							<input type="text" name="pluginDescription" id="pluginDescription"
									 class="form-control">
						</div>


						<div class="row mb-3">
							<div class="col-6">
								<label class="form-label" for="pluginLabelDE">Plugin Label (DE)</label>
								<input type="text" name="pluginLabelDE" id="pluginLabelDE"
										 class="form-control">
							</div>
							<div class="col-6">
								<label class="form-label" for="pluginLabelEN">Plugin Label (EN)</label>
								<input type="text" name="pluginLabelEN" id="pluginLabelEN"
										 class="form-control">
							</div>
						</div>


					</div>
					{#  CMS Element  #}
					<div class="tabs">
						<h2 class="headline-line mb-5">CMS Element Details</h2>

						{#    cms Element TechnicalName #}
						<div class="mb-3">
							<label class="form-label" for="cmsElementTechnicalName">Technical Name</label>
							<input type="text" name="cmsElementTechnicalName" id="cmsElementTechnicalName"
									 class="form-control">
						</div>
						{#   CMS Element label #}
						<div class="mb-3 row">

							<div class="col-6">

								<label class="form-label" for="cmsElementLabelDE">Element Label (DE)</label>
								<input type="text" name="cmsElementLabelDE" id="cmsElementLabelDE"
										 class="form-control">
							</div>

							<div class="col-6">

								<label class="form-label" for="cmsElementLabelEN">Element Label (EN)</label>
								<input type="text" name="cmsElementLabelEN" id="cmsElementLabelEN"
										 class="form-control">
							</div>

						</div>

						{#   CMS Element Image #}
						<div class="row mb-3">

							<div class="col-8">
								<label class="form-label" for="cmsPreviewImage">CMS Preview Image</label>
								<input type="file" name="cmsPreviewImage" id="cmsPreviewImage"
										 class="form-control">
							</div>

							<div class="col-4 d-flex justify-content-center align-items-center">
								<label class="form-check-label" for="cmsDefaultPreviewImage">use default preview
									Image</label>
								<div class="form-check">
									<input type="checkbox" value="true" name="cmsDefaultPreviewImage" id="cmsDefaultPreviewImage"
											 class="form-check-input">
								</div>

							</div>
						</div>


						<div class="row mb-3">
							<div class="col-8">
								<label class="form-label" for="cms-component-image"> Component Image</label>
								<input type="file" name="cmsComponentImage" id="cms-component-image"
										 class="form-control">
							</div>
							<div class="col-4 d-flex justify-content-center align-items-center">
								<label class="form-check-label" style="flex-basis:70%" for="cmsDefaultComponentImage">use
									default component
									Image</label>

								<div class="form-check">
									<input type="checkbox" value="true" name="cmsDefaultComponentImage"
											 id="cmsDefaultComponentImage"
											 class="form-check-input float-right p-1">
								</div>
							</div>

						</div>


					</div>

					{#  CMS Element Flieds #}
					<div class="tabs">
						<h2 class="headline-line mb-5">Hoppys</h2>

						<div class="form-group">
							<label for="">Hoppy</label>
							<input type="text"
									 class="form-control">
						</div>
						<div class="form-group">
							<label for="">Anmerkung</label>
							<textarea name=""
										 id=""
										 cols="30"
										 rows="3"
										 class="form-control"></textarea>
						</div>

					</div>

					{#  CMS Blocks #}
					<div class="tabs">
						<h2 class="headline-line mb-5">CMS Blocks</h2>
						{#    cms Block TechnicalName #}
						<div class="mb-3">
							<label class="form-label" for="cmsBlocksTechnicalName">Technical Name</label>
							<input type="text" name="cmsBlocksTechnicalName" id="cmsBlocksTechnicalName"
									 class="form-control">
						</div>

						{#   CMS Blocks label #}
						<div class="mb-3 row">

							<div class="col-6">

								<label class="form-label" for="cmsBlocksLabelDE">Blocks Label (DE)</label>
								<input type="text" name="cmsBlocksLabelDE" id="cmsBlocksLabelDE"
										 class="form-control">
							</div>

							<div class="col-6">

								<label class="form-label" for="cmsBlocksLabelEN">Blocks Label (EN)</label>
								<input type="text" name="cmsBlocksLabelEN" id="cmsBlocksLabelEN"
										 class="form-control">
							</div>

						</div>

						{#    Blocks Category #}
						<div class="mb-3">
							<label class="form-label" for="cmsBlocksCategory">CMS block category</label>
							<select type="file" name="cmsBlocksCategory" id="cmsBlocksCategory"
									  class="form-select">
								<option value="text-image">text-image</option>
								<option value="text">text</option>
								<option value="video">video</option>
								<option value="image">image</option>
							</select>
						</div>
						<div class="row py-4 justify-content-between">
							<button id="send" class="btn btn-info btn-lg btn-block " type="submit">Senden</button>
						</div>
					</div>
				</div>

			</form>

			<div class="row py-4 justify-content-between">
				<div class="col-auto">
					<button type="button" id="prev" class="btn btn-secondary">Prevers</button>
				</div>
				<div class="col-auto ">
					<button type="button" class="btn btn-info" id="next">Next</button>
				</div>
			</div>
		</div>
	</div>
	{% block javascripts %}
		{{ encore_entry_script_tags('create-cms-element-form') }}
	{% endblock %}
{% endblock %}
