{% block element_muhammad_kassem_ismail_block %}
            <div class="d-flex justify-content-center align-items-center">
                <img style="width: 100%"
                     :src="'muhammadkassemismailblock/static/img/cms/component_cms_element.jpg' | asset"
                     alt="muhammadkassemismailblock"
                >
            </div>
{% endblock %}