
            {% block cms_blocks_technical_name %}
        <div class="sw-cms-block-cms-blocks-technical-name">
            <slot name="ApCmsImageText"></slot>
        </div>
        {% endblock %}
        