{% block element_dfhdfhvnc_cc %}
            <div class="d-flex justify-content-center align-items-center">
                <img style="width: 100%"
                     :src="'dfgdffg/static/img/cms/component_cms_element.jpg' | asset"
                     alt="dfgdffg"
                >
            </div>
{% endblock %}