{% block fg_dhf_hgdf_ghdf %}
            <div class="fg-dhf-hgdf-ghdf-component">
                 <img
                        :src="'VmvMvnmVbm/static/img/cms/component_cms_element.jpg' | asset"
                        alt="VmvMvnmVbm"
                >
            </div>
{% endblock %}