.form-wrapper {
   width: 60vw;
}

.form {
   .form-control , .form-select {
      border: 1px solid #0DCAF0;
   }

   .form-control:focus,.form-select:focus {
      border: 2px solid #0DCAF0;
      box-shadow: 0 0 0 .25rem rgba(0, 225, 255, 0.22);
   }

   .navigation {
      .nav-point {
         width: 40px;
         height: 40px;
         padding: 10px;
         border-radius: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #fff;
         user-select: none;
         background-color: #ccc;
         position: relative;
         margin-left: 100px;

         &.nav-point:not(:first-of-type)::before {
            content: "";
            background-color: #ccc;
            width: 120px;
            height: 5px;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            transition: all 1s;
         }

         &.active-nav-point:not(:first-of-type)::before {
            content: "";
            background-color: #0DCAF0;
            width: 120px;
            height: 5px;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            transition: all 1s;
         }
      }
   }

   .tabs-container {
      position: relative;
      width: 100%;

      .tabs {
         transition: all;

         &.show-tab {
            display: block;
         }

         .headline-line {
            border-left: 10px solid #0DCAF0;
            padding-left: 1rem;
         }

         .form-check {
            flex-basis: 20%;
         }

         .form-check-label {
            flex-basis: 70%;
         }
      }


   }
}