{% block element_gdf_hdfghdf %}
            <div class="d-flex justify-content-center align-items-center">
                <img style="width: 100%"
                     :src="'erqtErFgSgfGdsfgSdfg/static/img/cms/component_cms_element.jpg' | asset"
                     alt="erqtErFgSgfGdsfgSdfg"
                >
            </div>
{% endblock %}