{% block d_g_sdfgsdfg_sd %}
            <div class="d-g-sdfgsdfg-sd-component">
                 <img
                        :src="'erqtErFgSgfGdsfgSdfg/static/img/cms/component_cms_element.jpg' | asset"
                        alt="erqtErFgSgfGdsfgSdfg"
                >
            </div>
{% endblock %}