{% block element_api_image_text %}
            <div class="d-flex justify-content-center align-items-center">
                <img style="width: 100%"
                     :src="'meintextimage/static/img/cms/component_cms_element.jpg' | asset"
                     alt="meintextimage"
                >
            </div>
{% endblock %}