{% block gsdfg_dhdfhg %}
    {% set element = block.slots.getSlot('fg-dhf-hgdf-ghdf') %}
    <div data-cms-element-id="{{ element.id }}" class="col-12">
        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
    </div>
{% endblock %}