{% block mk_muhammad_element %}
            <div class="mk-muhammad-element-component">
                 <img
                        :src="'MuhammadTestELement/static/img/cms/component_cms_element.jpg' | asset"
                        alt="MuhammadTestELement"
                >
            </div>
{% endblock %}