{% extends 'base.html.twig' %}

{% block title %}Hello Test2Controller!
{% endblock %}

{% block body %}



	<div class="container">



		<ul class="list-group m-5">
			{% for key,value in createFolders %}
				<li class="list-group-item {% if value=="Verzeichnis existiert bereits" %}list-group-item-danger {% else %}list-group-item-success  {% endif %}">
					<small>{{ key }} </small>

				</li>

			{% endfor %}

		</ul>

	</div>
{% endblock %}
