
            {% block muhammad_kassem_ismail_block %}
        <div class="sw-cms-block-muhammad-kassem-ismail-block">
            <slot name="mki-muhammad-kassem-ismail"></slot>
        </div>
        {% endblock %}
        