{% block element_block_muhammad_blockme %}
            <div class="d-flex justify-content-center align-items-center">
                <img style="width: 100%"
                     :src="'MuhammadTestELement/static/img/cms/component_cms_element.jpg' | asset"
                     alt="MuhammadTestELement"
                >
            </div>
{% endblock %}