
            {% block ap_element_text_and_image %}
        <div class="sw-cms-block-ap-element-text-and-image">
            <slot name="ap-element-text-and-image"></slot>
        </div>
        {% endblock %}
        