{% block mki_cms_element %}
            <div class="mki-cms-element-preview">
                 <img
                        :src="'meintextimage/static/img/cms/component_cms_element.jpg' | asset"
                        alt="meintextimage"
                >
            </div>
{% endblock %}