{% block element_ap_element_text_and_image %}
            <div class="d-flex justify-content-center align-items-center">
                <img style="width: 100%"
                     :src="'ApImageAndText/static/img/cms/component_cms_element.jpg' | asset"
                     alt="ApImageAndText"
                >
            </div>
{% endblock %}